.contactInfo{
    display:table;
    margin-top: .7em;
    padding-top: .7em;
    width: 100%;
    border-top: 1px solid lightgray ;
}

.contactInfo h3,span{
    display: table-cell;
    font-size: .8em;
}
.contactInfo h3{
    width:30%;
}
.contactInfo span{
    width:60%;
    text-align: right;
}

.contactContainer{
    width: 90%;
    margin: 0 auto;
}
