.menuImg{
    padding: 0.5em 0;
    box-shadow: 0 0 0.01em #3a3a3a;
}

.mainContent{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(190, 185, 191, 0.100);
}

.callToAction-Text{

    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    position: relative;
    width: 90%;
    font-size: .9em;
    font-style: italic;
    color: #909090 ;
}

.newsElement{
    padding:5px;
    border: 1px solid dimgray;
    background: #a39ea2;
    margin: 0 auto;
    margin-top:5px;
    width: 90%;
}

.newsElement h2{
    text-align: center;
    font-size: 1em;
}

.newsHeader{
    display:table;
    margin: .7em;
}
.newsElementIcon{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #252525;
    text-align: center;
    line-height: 30px;
    color: white;
    display: table-cell;
}
.newsElement h2{
    display: table-cell;
    color: #252525;
    padding-left: 10px;
}
.newsElement article img{
    width: 100%;
    border: 1px solid dimgray;
    margin: 0 auto;
    margin-top:10px;
}





#vbTitle{
    border-top: 0px;
    margin-top: .5em;
}




