<!--<link rel="stylesheet" href="css/home.css"/>-->

<div class="callToAction-Text">
    "Von Bismark is physical ecommerce. We merge the ease of ecommerce with the trust of traditional retailing by allowing consumers to digitally try on and buy the clothing they are looking for."
</div>

<div class="newsElement">
    <header class="newsHeader">
        <div class="newsElementIcon">VB</div>
        <h2>The Von Bismark Platform</h2>
    </header>
    <article>
        <img src="img/VonBismarkPlatform.jpg" alt="newsImage1"/>
    </article>
</div>
<div class="newsElement">
    <header class="newsHeader">
        <div class="newsElementIcon">DE</div>
        <h2>Digital Entertainment</h2>
    </header>
    <article>
        <img src="img/DigitalEngagement.jpg" alt="newsImage1"/>
    </article>
</div>
<div class="newsElement">
    <header class="newsHeader">
        <div class="newsElementIcon">DI</div>
        <h2>Digital Inventory</h2>
    </header>
    <article>
        <img src="img/DigitalInventory.jpg" alt="newsImage1"/>
    </article>
</div>
<div class="newsElement">
    <header class="newsHeader">
        <div class="newsElementIcon">BI</div>
        <h2>Business Intelligence</h2>
    </header>
    <article>
        <img src="img/BusinessItelligence.jpg" alt="newsImage1"/>
    </article>
</div>
