<!--<link rel="stylesheet" href="css/home.css"/>-->

<div role="projectHome">

    <h2>Von Bismark Project</h2>

    <section>
        <a href="#/wardrobe">
            <img class="img-responsive" src="#" alt="Von Bismark Wardrobe Image"/>
            <h3>Von Bismark Wardrobe</h3>
        </a>
    </section>

    <section>
        <a href="#/standalone">
            <img class="img-responsive" src="#" alt="Von Bismark Wardrobe Image"/>
            <h3>Stand Alone Projects</h3>
        </a>
    </section>

</div>